<div class="main-container-signup" >
    <div class="container">
        <div class="logo">
            <img src="assets/images/logo.png" alt="" style="height: 100%;">
        </div>
        <p>Sign up tosee photos and videos form your friends</p>
        <div class="signup-input-fields">
           
                <input type="email" aria-label="Email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="fullname" placeholder="Full Name">
        </div>
        <div class="upload-image">
            <button>Upload Profile Image
                <input type="file" accept="image/*" style="visibility: hidden;">
            </button>
        </div>
        <div class="submit-btn">
            <button type="submit" >
                Submit
            </button>
        </div>
        <p style="width: 100%;display: flex;justify-content: center;color: gray;">By signing up, you agree to our
        Terms, <br> Data Privacy and Cookies 
         Policy
        </p>

    </div>
</div>